---
import Markdown  from '@astrojs/markdown-component'
import BasicMeta from '../../components/BasicMeta.astro'
---
<html lang="en">
	<head>
		<BasicMeta/>
		<title>Plank</title>
		<meta name="theme-color" content="#e0d6c6">
		<style>
			html
			{
				font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
				font-size: 18px;
				letter-spacing: 0.02em;
				line-height: 1.7;
				text-rendering: optimizeSpeed; 
				-webkit-font-smoothing: antialiased;    
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-feature-settings:"kern" 1;
				font-feature-settings: "kern" 1;
				font-kerning: normal;

				background-color: #acc9da;
				color: rgba(0, 0, 0, 0.8);
			}

			body
			{
				margin: 0;
			}

			main
			{
				max-width: 70ch;
				margin: 60px auto;
				padding: 20px;
			}

			:global(p)
			{
				margin: 2rem 0;
			}

			h1, #back
			{
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
				font-size: 0.6rem;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				text-align: center;

				margin: 150px 0;
			}

            h1 {
                font-size: 2rem;
            }

			#back
			{
				display: block;
				margin: 0;
				padding: 5px 10px;
				border-bottom: 1px solid;

				color: rgba(0, 0, 0, 0.6);
				text-decoration: none;
				letter-spacing: 0.02em;
				text-align: start;
			}
		</style>
	</head>
	<body>
		<header>
			<a id="back" href="/">← Back to all games</a>
			<h1>Khlih</h1>
		</header>
		<main>
			<Markdown>
                ## Preface
                This game is based around the themes of a holiday I have always held
                near and dear to my heart; Chanukkah. I've always seen Chanukkah as a
                celebration of tradition and even though many people have tried to
                destroy our traditions, we still persist, our light will not burn out. I say
                this knowing that narrative and ideology are powerful, and like many
                stories soaked in ideology, this story has a more contentious history—and
                for that matter, present—then I had been lead to believe. To me this story
                has always been one of community and community resistance against an
                occupying force trying to stamp out and erase your traditions. Over the
                year I have now see this story used to help continue as allow the exact
                kind of action I have always believed this holidays was explicitly against.
                Using this story to justify any form of setter colonialism is wrong and
                unjust. Us as a community should work against setter colonialism
                wherever it appears. Whether its in Turtle Island (North America),
                Palestine, or any other place in the world. That truly is what this game is
                about.

                ## Inspirations

                Games: Ten Candles by Steven Dewey, איכה by Riley Rethal, Microscope
                by Ben Robbins and Doikayt a Collection from Riley Rethal

                ## Set Up

                As this game is based around Chanukkah because of this game uses
                material objects commonly found during this holiday.
                The Objects needed for this game are a Menorah (Chanukiah) and two
                driedals (though you could get away with replacing the dreidels with d4
                and just having nine candles, but some the symbolism will obviously be
                lost)
                The length of the game is determined by the burn time of the candles so
                keep that in mind when choosing them.

                ## Play

                ### Roles

                This game is a GM-less game, though it does have roles to assure
                everyone is having fun and knows what to do. The two roles to assign are
                **Facilitator** and **Mood Checker**.

                **The Facilitator**: The role of the facilitator is to guide the other players
                through the game as well as help people who may not as familiar with the
                rules understand what to do. It’s important to note that the facilitator
                doesn’t make the rules and they are not the main decision maker but they
                are there to make sure the game rules smoothly. Their role at the table is
                to know the rules not make them

                **The Mood Checker**: The Role of the Mood checker is to keep tabs on
                atmosphere of the table, the mood checker should make sure that
                everyone, including themself, feels comfortable at the table.


                ## Play

                You play this game as a community to begin go around in a circle and
                have each member decide on some aspect of the communities culture,
                traditions, and life, they may pass if they want. Do this until you all decide
                that you like the culture you have or until one person passes twice on
                creating an aspect. This should take less than 5 minutes. Next as a group
                quickly decide on who the invaders are and how the tactics they are using
                for control of your group.

                Once you feel ready to begin light the Shemash, this will function as the
                games timer, the she mash represents the hope and will of the people to
                fight back and resist, when the Shemash burns out the games ends.

                Each turn begins with the spin of a dreidal (roll of the dice)

                On a Gimel (ג) this is a success. This will represents an act of resistance by
                your community light one candle on the Menorah.

                On a Hey (ה) or Shin (ש) this is a Mixed success do not light a candle but on the
                next roll you get advantage(Spin two dreidals and take the better result).
                This represents your community living under the invaders or a set up for
                a larger act of resistance

                On Nun (נ) this is a failure. This represents the occupiers or invaders fighting
                against your community this can be an act of destruction or … when this
                happens put out a candle.

                After this play out the scene of the respected event.

                ### Scene
                This game uses a modified version of Microscope rules for setting scenes.
                
                Just as in microscope the goal of a scene is to answer a question however
                unlike microscope the questions are a result of the role. Though the
                person who roles poses the question they should keep the question
                related to the situation at hand for example if a Gimel was rolled the
                question could be how does the community fight back or something
                more specific such as how does the community recapture their house of
                worship, a question should be specific enough that there can be a
                concrete answer

                There are two types of scenes **Played Scenes** and **Dictated Scenes**.

                #### Dictated Scences

                Dictated scenes are for when the player who rolled wants total control
                over the answer of the question to do a dictated scene the player states
                the question and narrates the answer. While dictated scenes are a useful
                tool be careful to not over use them as they will limit both other player
                iteration with the world and general story.

                #### Played Scenes
                The next type of scene are Played Scenes, played scenes are the bread and
                butter of this game and should be the default scene type if you're unsure
                what to do. For a played scene the player who rolls poses a question—
                again related to the result of the dice—then that player set the stage. To
                set the stage the roller should state where the scene takes places, why the
                scene is happening, what just happened and whats immediately
                happening next in the scene. After which everyone goes around and
                choose a character to play you can create a charter out of thin air or play
                a already introduced. If they want the player to the left of the roller can
                ban a character to try to complicate the scene but this is not necessary.
                Then you play out the scene until everyone feels like they know the
                answer the question in which you move to the next roll.

                ### Ending
                The Games end either when you light all the menorahs candles or the shemash burns out.

                If the Shemash burns out the invaders have succeeding in taking over. The players should dictate together
                what happens to both the community and any characters created threw out play. What is the result to the community, is 
                it fully whiped out with all culture lost or do they stay hidden in the shadows with the spark of their culture still remaining

                If you light all 8 candles you community had pushed out the invading force dictate how your community is able to to that
                and what comes next for the community and culture now that there is not an enemy to fight.
                









			</Markdown>
		</main>
	</body>
</html>