	<a id="logo" href="/">
		<svg id="curved-text" viewBox="0 0 220 100">
			<!-- eslint-disable-next-line vue/max-len -->
			<path id="logo-curve" d="M191 71H0a94 94 0 0 1 13-28 98 98 0 0 1 22-23A100 100 0 0 1 63 5a102 102 0 0 1 33-5 102 102 0 0 1 32 5 100 100 0 0 1 28 15 98 98 0 0 1 22 23 94 94 0 0 1 13 28Z" transform="translate(16,10)"/>
			<text dx="200">
				<textPath xlink:href="#logo-curve">
					Sometimes we make games, and when we do, they go here.
				</textPath>
			</text>
		</svg>
		<svg id="goodbyte-games-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 309.8 221.7">
			<!-- eslint-disable-next-line vue/max-len -->
			<path d="M145 221.3a3.4 3.4 0 0 1-1.6-2q-1.2-3.3 1-8.4a48.8 48.8 0 0 1 7.8-11.5q1.7-6 3.1-12t2.3-11q1-4.8 1.5-9.5l-4.4 7-4.3 6.6-2.7 3.9-.9 1.3q-5.1 9-8.8 10.2a7.4 7.4 0 0 1-7-1.3 14.8 14.8 0 0 1-5.2-7.5 24.9 24.9 0 0 1-1.3-7 34.9 34.9 0 0 1 .7-8.2 48.3 48.3 0 0 1 2.6-8.8 52.7 52.7 0 0 1 4.3-8.5 75 75 0 0 1 9.5-12 86.6 86.6 0 0 1 10.8-9.5 34.6 34.6 0 0 1 8-4.7 4.2 4.2 0 0 1 2.8-.1 4.5 4.5 0 0 1 2 1.6 10.4 10.4 0 0 1 1.4 2.7 5.4 5.4 0 0 1 .1 3 16 16 0 0 1-3 5.4 63.8 63.8 0 0 1-5 5.7 18.8 18.8 0 0 1-3 2.8l-.4-.1q-.1-.4.6-1.6t1.5-2.5a7.9 7.9 0 0 0 1.7-5.3 58.3 58.3 0 0 0-7.2 5.9 67 67 0 0 0-6.5 7.2 90 90 0 0 0-6 8.7 54.2 54.2 0 0 0-5 10.5 44 44 0 0 0-2.1 9.2 14.8 14.8 0 0 0 .2 6 3.8 3.8 0 0 0 1.7 2 3.2 3.2 0 0 0 2.8.3 9.7 9.7 0 0 0 3.9-3.1 67 67 0 0 0 4.7-6.5l4.6-7.2 4.5-7.4q2.2-3.7 3.3-5.9a20.4 20.4 0 0 0 1.7-3.6q.9-3.1 2.5-4.1a3.5 3.5 0 0 1 3.3-.3 3.6 3.6 0 0 1 2.1 2.2 20 20 0 0 1-.4 4.6l-2.2 12q-1.5 7.9-4 18.7a158.8 158.8 0 0 0 11.7-15.5 9.6 9.6 0 0 1-.2-1.4 8.5 8.5 0 0 1 .5-3.3 40 40 0 0 1 2.2-4.9 54.6 54.6 0 0 1 9.6-13q5-5 8.4-6.1a2.5 2.5 0 0 1 1.9.2 6 6 0 0 1 1.8 1.3 4.2 4.2 0 0 1 1 1.3 1.3 1.3 0 0 1-.3 1.3 12.6 12.6 0 0 1-1.7 1.6l1.3 1.5 1.3 1.4a3.5 3.5 0 0 1 .7 1.1q.3 1-.8 4.5t-1.4 5.1a6.3 6.3 0 0 0 .2 3.5q1.1 3.2 4 2.2 2.8-1 6.8-7.7a9.7 9.7 0 0 1 0-2.5 42.1 42.1 0 0 1 1-5.7 44.9 44.9 0 0 1 2.6-7.4 5.7 5.7 0 0 1 3.2-3.1 4.3 4.3 0 0 1 2.2-.2 1.6 1.6 0 0 1 1.4 1q.3.9-.6 3.5a33.6 33.6 0 0 1-2.5 5.5 17.5 17.5 0 0 0-1.3 3.9 6.3 6.3 0 0 0-.3 3q.4 1.2 1.3.8.7-.2 2.6-4.2t4.2-8.7a73.2 73.2 0 0 1 4.5-8q2.2-3.4 4.3-4.1a2.8 2.8 0 0 1 2.4.2 3.7 3.7 0 0 1 1.7 2.1 9.8 9.8 0 0 1-.1 3.8 66.8 66.8 0 0 1-1.7 7.3q-1.2 4.5-3.3 10.9l7-12.5q3-5.3 4.5-8.3 1.6-3 3-5.2t1.7-2.4q1-.3 2.6 1.4a9.4 9.4 0 0 1 2 3q.3.8-1.4 4.7t-2.4 6.2a6.5 6.5 0 0 0 0 4.2 2.5 2.5 0 0 0 1.4 1.6 2.8 2.8 0 0 0 2 0 5.6 5.6 0 0 0 2.6-2.2q1.2-1.8 3.6-6a16.3 16.3 0 0 1 .2-5.3 32.5 32.5 0 0 1 4.1-10 27.7 27.7 0 0 1 5-6.4 15.2 15.2 0 0 1 5.2-3.3 5.3 5.3 0 0 1 3.5-.2 3.4 3.4 0 0 1 2.1 2.3 9.3 9.3 0 0 1-.2 6 24.4 24.4 0 0 1-4.2 7.4 66.2 66.2 0 0 1-8.4 8.5l.4 1a6 6 0 0 0 2.6 3.6 4.3 4.3 0 0 0 3.7.3 11.3 11.3 0 0 0 4-2.5 25 25 0 0 0 3.5-4.1l3.9-6.1q6.9-15.2 9.4-21.3-.9-5.5 2.7-6.7a4.5 4.5 0 0 1 2-.2l.6.7a5 5 0 0 0 .3 1.5 14.3 14.3 0 0 0 1.7 2.8l2.2 3.4a16 16 0 0 1 1.5 3.2 12.6 12.6 0 0 1 .6 5.8 19.3 19.3 0 0 1-2 6.2 42.5 42.5 0 0 1-4.6 7 16.5 16.5 0 0 0 2.5-.6 10 10 0 0 0 3.5-2.2 25 25 0 0 0 3.3-3.7q1.6-2.2 3.6-5.5l1 2.8a67 67 0 0 1-7 11.4q-3.4 4.3-6.5 5.3a10.9 10.9 0 0 1-8.5-.8 9.7 9.7 0 0 1-3.8-3 18.2 18.2 0 0 1-1.7-3.4 55.3 55.3 0 0 1-5.9 11.7 15.2 15.2 0 0 1-7.5 6 7.5 7.5 0 0 1-7-.8q-3.2-2.2-5-7.3v-.1q-2.2 4.2-4.2 7.5a38.2 38.2 0 0 1-4 5.6 8.5 8.5 0 0 1-3.2 2.5 3 3 0 0 1-2.6-.2 3.8 3.8 0 0 1-1.7-2.2 9.5 9.5 0 0 1-.5-3.1 27.9 27.9 0 0 1 .3-4l1.2-6 1.3-6.3q-3 5-5.3 9.5t-3.5 7.6l-2 5q-1.5 3.4-3.6 4.1-2.2.8-3.3-2.4-.4-1.2.1-5.1t1.9-10a1.9 1.9 0 0 0-.2-1.2.8.8 0 0 0-1-.5q-1 .3-2.2 2.7t-4.3 9.7a47.2 47.2 0 0 0-1.7 5.2 43.7 43.7 0 0 1-1.4 4.2 2.3 2.3 0 0 1-1.2 1.4q-1.5.5-3.8-1.7a14.8 14.8 0 0 1-3.3-5.3q-6.2 14.2-10.6 15.7a2.7 2.7 0 0 1-2.7-.2 6.3 6.3 0 0 1-1.8-3q-1.2-3.4-1-10.6-3.8 9-5.8 13t-4 4.6q-.9.3-2.8-.8a16.5 16.5 0 0 1-4-3.3 14.4 14.4 0 0 1-2.7-4.5q-3.2 5.3-6.5 10.3-3.5 5.4-8.7 12.3-1.8 6-3.3 9.9t-2.6 6.5l-1.2 2.7a6.7 6.7 0 0 1-1.5 2.1 5.7 5.7 0 0 1-2 1.5 3.2 3.2 0 0 1-1.1.2 3 3 0 0 1-1.5-.4Zm36.2-54.9q-3.5 5.2-2.2 9a5 5 0 0 0 1.2 2 1.5 1.5 0 0 0 1.6.4 5 5 0 0 0 1.5-1.2 35.3 35.3 0 0 0 5.8-9.6q2.2-5.5 4.9-14.6-9.3 8.9-12.8 14Zm88.7-41a6.4 6.4 0 0 0-2.2 1.8 21.6 21.6 0 0 0-2.6 3.8 19.9 19.9 0 0 0-1.9 4.8 12.6 12.6 0 0 0-.2 5.2 25.6 25.6 0 0 0 5.3-6 20 20 0 0 0 2.5-5.5 7 7 0 0 0 .3-3.4q-.3-.8-.8-.8a1.2 1.2 0 0 0-.4.1Zm19.3 9.5a24.7 24.7 0 0 1 3.9 2.7 10.9 10.9 0 0 0 3.3-4.7 9.7 9.7 0 0 0-.4-6.2l-.3-.8-.3-.6-2.9-6q-1.6 4-7.3 15.3a14.7 14.7 0 0 1 1.7 0 5.3 5.3 0 0 1 2.3.3Zm-161.5 18a28.6 28.6 0 0 1-14-4.2c-4-2.6-6-6-6-10a6.5 6.5 0 0 1 1.8-4.7 7.3 7.3 0 0 1 5.3-2c5.3 0 7 4.2 8.7 8.3a23.7 23.7 0 0 0 2.7 5 6.4 6.4 0 0 0 4.6 2.7 64.9 64.9 0 0 0-3 4.8Zm11-14.4a56.7 56.7 0 0 0 .7-9.1v-.1a14.8 14.8 0 0 1-5 2.6 23.7 23.7 0 0 1-7 1 18.1 18.1 0 0 1-6.8-1.3 17.6 17.6 0 0 1-5.7-3.8 17.6 17.6 0 0 1-4-5.9 20.1 20.1 0 0 1-1.5-7.7V97.5a7.9 7.9 0 0 0-2.5-5.6c-.8-1-1.5-1.8-1.5-2.8v-.4a2.5 2.5 0 0 1 2.3-2.3l14.9-2a11.6 11.6 0 0 1 1.6-.2c2 0 3 .8 3 2.2L127 116c0 4.3.7 7.3 2.2 9a4.7 4.7 0 0 0 3.5 1.3c3.7 0 6.7-4 6.7-9.1V97.5c0-2.8-1.4-4.3-2.5-5.6-.9-1-1.6-1.8-1.6-2.8v-.4a2.5 2.5 0 0 1 2.3-2.3l14.9-2.1a10.7 10.7 0 0 1 1.4-.1c2 0 3 .7 3 2.2v38.2a37 37 0 0 0-7.7 4.7 86 86 0 0 0-10.5 9.2Zm92.2-5.1a3.5 3.5 0 0 0-1-1 2.9 2.9 0 0 0-1.4-.3 3 3 0 0 0-1 .1l-.4.2a23.1 23.1 0 0 1-11.7-8.8 24.1 24.1 0 0 1-3.3-6.8 29 29 0 0 1-1.1-8.2 25.8 25.8 0 0 1 2-10.2 23.2 23.2 0 0 1 5.4-7.7 25.4 25.4 0 0 1 17.4-6.8h.3c5.8 0 10.7 1.3 14.2 4a13.4 13.4 0 0 1 4 4.5 12.8 12.8 0 0 1 1.4 6 11.2 11.2 0 0 1-1.2 5 14 14 0 0 1-3.3 4.2 19.5 19.5 0 0 1-5 3.2 26 26 0 0 1-6.5 1.9 51.4 51.4 0 0 1-8.5.7h-1.5a15.5 15.5 0 0 0 5.2 5.9 13.3 13.3 0 0 0 7.4 2.2 16.4 16.4 0 0 0 6.6-1.3 10.3 10.3 0 0 0 4.1-3.1 2.5 2.5 0 0 1 1.8-.8 2 2 0 0 1 1.4.6 2 2 0 0 1 .5 1.6 14.4 14.4 0 0 1-2.5 6.8 18.3 18.3 0 0 1-7.3 6.3 12.8 12.8 0 0 0-1.6-2c-1-1-1.7-1.5-2.2-1.5a1 1 0 0 0-.4 0c-.3.2-1 1-1.8 2.4l-1.9 3.2-2.7.2a30 30 0 0 1-5.4-.5Zm-2.1-41.1a15.8 15.8 0 0 0-1.9 8 32 32 0 0 0 .9 7.8h1.5a24 24 0 0 0 3.5-.2 7.2 7.2 0 0 0 5-3.2c1.2-1.7 1.8-4.3 1.8-7.6a9.9 9.9 0 0 0-1.7-5.6 5.2 5.2 0 0 0-4.2-2.3 5.7 5.7 0 0 0-5 3Zm-47.2 40.4a13.7 13.7 0 0 1-5.2-3.6 15.8 15.8 0 0 1-3.3-5.7 25.7 25.7 0 0 1-1.1-8V91.6h-3.8a2.3 2.3 0 0 1-1.7-.6 2.3 2.3 0 0 1-.6-1.6v-2.2a2.2 2.2 0 0 1 2.3-2.3h1.9a16.2 16.2 0 0 0 9-3.4 16.5 16.5 0 0 0 5.9-6.8 7.7 7.7 0 0 0 .3-.8 2.1 2.1 0 0 1 2-1.8 2.5 2.5 0 0 1 2.7 2.6v10.1h10.3a2.3 2.3 0 0 1 1.6.7 2.3 2.3 0 0 1 .7 1.6v2.2a2.3 2.3 0 0 1-.7 1.7 2.3 2.3 0 0 1-1.6.6H190v24a6 6 0 0 0 1.3 4 4.2 4.2 0 0 0 3.2 1.4 6.9 6.9 0 0 0 6.6-3.7 2.6 2.6 0 0 1 2-1 1.7 1.7 0 0 1 1.8 1.7 16 16 0 0 1-4.2 10.8 16.3 16.3 0 0 1-12.4 5 18.2 18.2 0 0 1-6.7-1.1Zm-114.1 0a15.5 15.5 0 0 1-5.2-3.2v.9c0 1.8-.8 2.6-2.6 2.6l-15.1-.1c-1.5 0-2.3-.8-2.3-2v-.3c0-1.3.7-2.2 1.6-3.2a8 8 0 0 0 2.4-5.5V76.3a5.9 5.9 0 0 0-.2-1.5 32.6 32.6 0 0 1-10.6 2 36.8 36.8 0 0 1-14.8-3 32.9 32.9 0 0 1-11.2-8 35.5 35.5 0 0 1-7-11.8A40 40 0 0 1 0 40.1a39.3 39.3 0 0 1 3-15.3 34.6 34.6 0 0 1 7.7-11.4 33.5 33.5 0 0 1 23.1-9.6c8.1 0 15.6 2 21 5.4 5.5 3.5 8.4 8.1 8.4 13a8.2 8.2 0 0 1-2.2 6 8 8 0 0 1-5.8 2.2c-6.6 0-10.2-5.2-13.8-10.2a38.8 38.8 0 0 0-5.2-6.4 9.9 9.9 0 0 0-6.9-3 9 9 0 0 0-4.7 1.4 11.6 11.6 0 0 0-3.7 3.6 23 23 0 0 0-3.2 12.5 52.5 52.5 0 0 0 1.8 13.8 40.1 40.1 0 0 0 4.9 11.2 25.2 25.2 0 0 0 7.2 7.5 16 16 0 0 0 8.8 2.8c2.7 0 4.4-.3 5.6-1V50.2c0-2.6-1.7-4-3.2-5.4-1.2-1-2.3-2-2.3-3.3v-.4c0-1 1.1-1.9 2.6-1.9l22.3.1c1.5 0 2.4.8 2.4 2v.3c0 1.2-.9 2.1-2 3.2-1.3 1.3-2.9 2.9-2.9 5.5V87a15 15 0 0 1 5.2-2.3 24.9 24.9 0 0 1 6.3-.8 25.1 25.1 0 0 1 8.4 1.4 23.2 23.2 0 0 1 7.6 4.5c5 4.4 7.6 10.7 7.6 18.2a29.2 29.2 0 0 1-2 10.7 24.6 24.6 0 0 1-5.2 8.1 23 23 0 0 1-7.5 5.2 22.6 22.6 0 0 1-9 1.9 19.3 19.3 0 0 1-6.8-1.2Zm-3.3-35.1V117a14.6 14.6 0 0 0 2.6 8.2c1.7 2.4 3.9 3.8 6 3.8a6.3 6.3 0 0 0 5.7-3.3c1.2-2 1.9-5.2 1.9-9.3A67 67 0 0 0 78 98.5c-1.3-4.4-3.7-9.7-7.8-9.7-3.7 0-6 3.3-6 8.7Zm139-22.5a22.4 22.4 0 0 1-7.5-4.7 25 25 0 0 1-7.3-18.7 27 27 0 0 1 2-10.2 24 24 0 0 1 5.2-7.9 23.3 23.3 0 0 1 7.5-5.1 23.2 23.2 0 0 1 9-1.8 18.2 18.2 0 0 1 10.3 2.8V16.2c0-2.6-1.6-4-3-5.2-1.3-1-2.3-1.7-2.3-3v-.3a3 3 0 0 1 2.3-2.6L235 .4a7.3 7.3 0 0 1 2.2-.4 2 2 0 0 1 1.7.7 3.2 3.2 0 0 1 .5 2v62.1a8 8 0 0 0 2.4 5.4c.9 1 1.6 2 1.6 3.2v.4c0 1.2-.8 2-2.3 2h-14.3a2.4 2.4 0 0 1-2.6-2.6v-.9a17.7 17.7 0 0 1-12.2 4.4 24.6 24.6 0 0 1-8.8-1.6Zm2.3-31.2a60.3 60.3 0 0 0 2.4 17 27 27 0 0 0 3.3 7.6c1.5 2.1 3 3.2 4.8 3.3h.2a5.5 5.5 0 0 0 4.4-2.2 9.8 9.8 0 0 0 1.8-6.2V44a15.1 15.1 0 0 0-2.7-8.7c-1.8-2.4-4-3.8-6.3-3.8-4.8 0-7.6 4.2-7.9 12.3Zm-67.8 25.7a23.8 23.8 0 0 1-8-18 23.8 23.8 0 0 1 2.1-10.1 24 24 0 0 1 6-7.9 27.1 27.1 0 0 1 8.6-5.1 29.6 29.6 0 0 1 10.2-1.8 28.9 28.9 0 0 1 19.4 7 24 24 0 0 1 5.9 8 24.1 24.1 0 0 1 2.1 10.1 24.3 24.3 0 0 1-2 10 23.8 23.8 0 0 1-5.8 8 27.9 27.9 0 0 1-18.9 7 29.3 29.3 0 0 1-19.6-7.2Zm11-34.8c-.9 2-1.4 5-1.4 9.3a59 59 0 0 0 3 16.9 26.7 26.7 0 0 0 3.8 7.6c1.7 2.1 3.4 3.2 5.3 3.2 4.3 0 6.4-4 6.4-12.3a61 61 0 0 0-3-16.9A28.2 28.2 0 0 0 159 35c-1.6-2.2-3.3-3.3-5.2-3.3a5.2 5.2 0 0 0-5 3.2ZM79 69.6a23.8 23.8 0 0 1-8-18A23.8 23.8 0 0 1 73 41.5a24 24 0 0 1 6-7.9 27.2 27.2 0 0 1 8.6-5.1 29.6 29.6 0 0 1 10.2-1.8 28.9 28.9 0 0 1 19.3 7 24 24 0 0 1 6 8 24.1 24.1 0 0 1 2.1 10.1 24.3 24.3 0 0 1-2.1 10 23.8 23.8 0 0 1-5.8 8 27.8 27.8 0 0 1-18.8 7A29.3 29.3 0 0 1 79 69.5Zm11-34.8c-1 2-1.4 5-1.4 9.3a59 59 0 0 0 3 16.9 26.7 26.7 0 0 0 3.8 7.6c1.6 2.1 3.4 3.2 5.3 3.2 4.3 0 6.4-4 6.4-12.3a61 61 0 0 0-3-16.9 28.2 28.2 0 0 0-3.8-7.7c-1.6-2.2-3.3-3.3-5.2-3.3a5.2 5.2 0 0 0-5 3.2Z"/>
		</svg>
	</a>

<style >
	text
	{
		font-family: var(--primary-font);
		fill: var(--green-90);
		font-size: 11px;
		letter-spacing: -0.02em;
	}

	#curved-text
	{
		width: 95%;
		transform-origin: 50% 110%;
		animation: rotate-in 2s cubic-bezier(0.2, 0.6, 0, 1) 1;
	}

	#curved-text path
	{
		fill: transparent;
	}

	#goodbyte-games-logo
	{
		fill: var(--green-60);
		width: 40%;
		margin: auto;
		display: block;

		transform: translateX(4%) translateY(-60%);
	}

	#logo
	{
		display: block;
		width: 50%;
		max-width: 400px;
		margin: 60px auto 0;
		outline: none;
		text-decoration: none;
	}

	#logo:focus-visible
	{
		background: radial-gradient(rgb(255 52 52 / 0.5) 0%, transparent 70%);
	}

	@keyframes rotate-in
	{
		0%
		{
			transform: rotate(-40deg);
			opacity: 0;
		}

		10%
		{
			opacity: 0;
		}

		100%
		{
			transform: rotate(0deg);
			opacity: 1;
		}
	}
</style>


