---
import MainLayout from '../layouts/MainLayout.astro'
import Logo from '../components/logo/GoodbyteGames.astro'
import GamesList from '../components/GamesList.astro'
---
<MainLayout>
	<body>
		<header>
			<Logo/>
		</header>
		<main>
			<GamesList/>
		</main>
	</body>
</MainLayout>
